<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
	<f:view>
		<h:form>
			<p:panelGrid columns="2" id="pnGrid">
				<p:outputLabel value="Nome" for="txtNome" />
				<p:inputText id="txtNome" value="#{loginBean.nome}" required="true"
					requiredMessage="Campo nome obrigatório" />

				<p:outputLabel value="Senha" for="txtSenha" />
				<p:password id="txtSenha" value="#{loginBean.senha}" required="true"
					requiredMessage="Campo senha obrigatório" />

				<p:commandButton actionListener="#{loginBean.submit}" value="Salvar" icon="ui-icon-folder-open" update="pnGrid lbUltUsuario"/>
				<p:messages />
			</p:panelGrid>
			
			<p>Ultimo Usuario: <p:outputLabel value="#{loginBean.nome}" id="lbUltUsuario"></p:outputLabel>
			</p>
		</h:form>
	</f:view>
</h:body>
</html>